.jumbotron{
    background-color:salmon;
}

#dd-express{
    font-size: 60px;
    
}

h3{
    font-size: 30px;
}

h5{
    font-size: 22px;
}

#current-time{
    margin-top: 10px;
    margin-right: 100px;
    
}
.panel-heading{
    margin-bottom: 10px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: green;
}
.table{
    background: grey;
}
th{
    color: white;
}

tr{
    color: white;
}

#name{
    color: white;
    background: black;
    padding: 0px 2px 0px 2px;
}